* {
  font-family: 'Alegreya Sans', sans-serif;
}

em {
  color: #50c9ab;
  font-style: normal;
  font-weight: 300;
}

iframe {
  margin: 10 auto;
  width: 95%;
  height: auto;
}

#header {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 21pt;
}

#shareArea {
  width: 50%;
  float: left;
  background-color: #cccccc;
}

#statsArea {
  width: 50%;
  float: left;
}
