* {
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
}

body {
    background-color: #333333;
    width: 100%;
    height: 100vh;
    margin: 0;
    /* overflow: hidden;*/
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
}

em {
    color: #50c9ab;
    font-style: normal;
    font-weight: 300;
}

#header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 21pt;
}

#contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.paddingArea {    
    padding: 20px;
}

#shareArea {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#shareControls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#shareButtons > button {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #aaaaaa;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 5px 0 #000000;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
}
#shareButtons >  button:hover {
    transform: scale(1.05);
}

.control-button-active {
    color: #50c9ab !important;
}


#statsArea {
    width: 50%;
    height: 100vh - 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.statsField {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 15px;
    text-align: center;
}

#chartArea {
    width: 50%;
}

#activeArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#chatArea {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 75%;
}

.question {
    padding: 10px;
    margin-top: 15px;
    background-color: #50c9ab;
    border-radius: 5px 5px 0px 5px;
}

#learnerCount {
    font-weight: 600;
    font-size: 54px;
}